/*background responsive image */
body {
    background-image: url("../img/spirosview.jpg");

    background-repeat:no-repeat;
    background-position: center top;
    background-size:cover;
    background-attachment: fixed;
    background-origin: padding-box;
}

/*Compatibility with IE 9-10 for svg*/
.img-fluid {
	width: 100% \9;
	display: inherit;
}

/*Centers row on page*/
.vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
}

/*temporary to show where row exists*/
.row {
    background: rgb(20, 20, 20); /* Fallback for older browsers without RGBA-support */
    background: rgba(20, 20, 20, 0.9);}

/*container responsiveness */
.container-fluid {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    border: none;
    z-index: 1000;
    font-family: 'Karla', sans-serif;
    color: #cecece;
}

@media (max-width: 480px) {
.container-fluid{
    top:3%;
}

}

/* spiro's logo */
.logoimg {
    padding-top: 4%;
    padding-bottom: 3%;
}