.logoimg {
  background: #222;
  display: inherit;
  padding: 0px;
}

.info-box {
  font-family: 'Karla', sans-serif;
  color: #989898;
  text-align: center;
  position: relative;
  padding: 30px;
}

ul {
  list-style: none
}

.info-list {
  padding: 0px;
  background: #222;
}

.img-container {
  padding: 30px;
}

.container {
  margin: 0px;
  padding: 0px;
}
